.Content{
	position: absolute;
	z-index: 1;
	margin-left: 310px;
	margin-top: 60px;
}

#ContentCanvas{
	margin-left: 300px;
	margin-top: 50px;
	z-index: 10;
	width: 50%;
	height: 100%;
}

#Title{
	font-size: 100px;
	font-family: Arial;
}

#Intro{
	font-size: 15px;
	font-family: Arial;
}

span{
	background-color: black;
	font-family: Arial;
	padding-left: 20px;
}

nav{
	background-color: black;
	font-size: 25px;
	font-family: Arial;
}

#NavBar{
	outline-style: outset;
	border-style: solid;
	border-width: 10px;
}